body {
    text-align: center;
    background-color: #09046b;
}

h1 {
    font-size: 45px;
    color: wheat;
}

#container {
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#computerContainer {
    width: 290px;
    height: 290px;
    display: flex;
    flex-wrap: wrap;
    background-color: wheat;
}

#playerContainer {
    width: 290px;
    height: 290px;
    display: flex;
    flex-wrap: wrap;
    background-color: wheat;
}


.grid, .grid2 {
    border: solid;
    border-width: 0.8px;
    font-size: 22px;
    width: 27px;
    height: 27px;
}

#buttonContainer {
    padding-top: 15px;
    display: flex;
    width: 275px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#changeBoard, #startGame, #newGame {
    width: 200px;
    border-radius: 10px;
    font-size: 17px;
    background-color: wheat;
}

h2 {
    font-size: 35px;
    margin: 0;
    margin-bottom: 10px;
    color: wheat;
}
