body {
    text-align: center;
}

#container {
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#computerContainer {
    width: 300px;
    height: 290px;
    display: flex;
    flex-wrap: wrap;

}

#playerContainer {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;

}


.grid, .grid2 {
    border: solid;
    border-width: 0.8px;
    font-size: 22px;
    width: 27px;
    height: 27px;
}